<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rappel d'humeur</title>
</head>
<body>
<h1>Bonjour {{ username }} !</h1>
<p>Nous espérons que votre journée se passe bien.</p>
<p>N’oubliez pas d’enregistrer votre humeur du jour pour suivre votre bien-être.</p>
<p>Cliquez <a href="{{ url('app') }}">ici</a> pour enregistrer votre humeur maintenant.</p>
<p>À bientôt !</p>
</body>
</html>
