{% block subject %}🖤 Une épreuve difficile, nous sommes là pour vous{% endblock %}

{% block body_html %}
    <p>Bonjour {{ user.username }},</p>

    <p>Nous sommes désolés d'apprendre que vous traversez une journée très difficile. Sachez que vos sentiments sont légitimes et qu'il est normal de ressentir de la tristesse.</p>

    <p>Si vous en ressentez le besoin, nous vous encourageons à parler de vos émotions avec quelqu'un en qui vous avez confiance, ou à consulter un professionnel. Parfois, il est plus facile de surmonter ces moments avec le soutien des autres.</p>

    <p>N'oubliez pas que vous n'êtes pas seul(e) et que vous pouvez toujours compter sur notre application pour vous accompagner dans chaque étape de votre parcours.</p>

    <p>Prenez soin de vous,<br>
        L'équipe de Mood Tracker</p>
{% endblock %}
